body {
  font-family: 'Open Sans', sans-serif;
  background: url(../images/bg.png) no-repeat top center;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

a {
    color: #fff;
}

h1 {
    font-size: 46px;
    /*font-weight: normal;*/
    /*color: #FFF;*/
}

canvas {
    display: none;
}

#intro {
    width: 500px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 12px;
    margin-top: 60px;
}

#intro p {
    font-size: 30px
}

#intro a {
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    background: #FFF;
    color: #111;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 6px;
    display: none;

}